/*
#original-monitoring-log-page{
    position: relative;
    left: -240px;
    width: 1600px;
}

#original-monitoring-log-page2{
    position: relative;
    left: -240px;
    width: 1600px;
}*/


.monitoring-log{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: linear-gradient(to bottom, #fcfcfdff 0%, #002379 200%);
}

.register-monitoring-log{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: linear-gradient(to bottom, #fcfcfdff 0%, #002379 200%);
}




/*home button start*/
#btn-monitoring-log-home {
    font-weight: 600;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
}

#btn-monitoring-log-home i {
    font-size: 25px;

}

#btn-monitoring-log-home:hover {
    background: black;
    color: white !important;
}
/*end*/
