 .sidebar {
     width: 250px;
     position: fixed;
     top: 0;
     left: 0;
     height: 100vh;
     z-index: 100;
     padding: 20px 0;
     background-color:/* #f8f9fa*/black;
     border-right: 1px solid #dee2e6;
 }

.sidebar .nav-link {
    padding: 12px 20px;
    color: /*#333*/whitesmoke;
    transition: all 0.3s;
}

.sidebar .nav-link:hover {
    background-color: #e9ecef;
    color: #000;
}

.company-name {
    padding: 15px 20px;
    font-size: 1.4rem;
    font-weight: bold;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 15px;
    color: green;
    position: relative;
}


#logo-new{
    position: relative;
    left: 20px;
}




/*.///////////////////////////////*/

/* !* Custom Toggle Button *!
 .nav-toggle {
     display: none;
     position: fixed;
     top: 20px;
     left: 20px;
     cursor: pointer;
     z-index: 1001;
     padding: 10px;
     background: #fff;
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 .bar {
     width: 25px;
     height: 3px;
     background-color: #333;
     margin: 5px 0;
     transition: all 0.3s ease;
 }

 !* Active Toggle Animation *!
 .nav-toggle.active .bar:nth-child(1) {
     transform: rotate(-45deg) translate(-5px, 6px);
 }

 .nav-toggle.active .bar:nth-child(2) {
     opacity: 0;
 }

 .nav-toggle.active .bar:nth-child(3) {
     transform: rotate(45deg) translate(-5px, -6px);
 }

 !* Main Content *!
 .main-content {
     margin-left: 260px;
     padding: 20px;
     transition: margin-left 0.3s ease;
 }

 !* Responsive Design *!
 @media (max-width: 768px) {
     .sidebar {
         transform: translateX(-100%);
     }

     .nav-toggle {
         display: block;
     }

     .main-content {
         margin-left: 0;
     }

     .main-content.active {
         margin-left: 260px;
     }
 }*/

/*///////////////////////////////////////////////////////*/



 /*
 !* Normalize CSS *!
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 !* Navigation Bar Styles *!
 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: !*#333*!whitesmoke;
     color: #fff;
     padding: 1rem;
 }

 .nav-brand {
     font-size: 1.5rem;
     font-weight: bold;
 }

 .nav-links {
     list-style: none;
     display: flex;
 }

 .nav-links li {
     margin-left: 1rem;
 }

 .nav-links a {
     color: #fff;
     text-decoration: none;
 }

 .nav-toggle {
     display: none;
     cursor: pointer;
 }

 .nav-toggle .bar {
     width: 25px;
     height: 3px;
     background-color: #fff;
     margin: 5px 0;
 }

 @media (max-width: 768px) {
     .nav-links {
         display: none;
     }

     .nav-toggle {
         display: block;
     }

     .nav-links.active {
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 100%;
         background-color: #333;
         padding: 1rem 0;
     }

     .nav-links.active li {
         margin: 0.5rem 0;
     }
 } */
